body {
    background-color: #55a28a;
    color: #FFF;
    font-size: 20px;
    line-height: 38px;
    font-family: 'Karla', serif;

}

a, a:hover, a:active {
    color: #a2556d;
}

b{
    font-weight: 700;
    color: #d9d9d9;
}

b:hover{
    color: #FFF;
}